body{
    background:radial-gradient(circle,darkgray,black);
    color: #fff;
    
}
.heading{
    display: flex;
    justify-content: center;
    color:blueviolet;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: radial-gradient(darkorchid,black);
    color: cyan;
    width: 100%;
    padding: 5px 5px;
}